<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title id="title">#{title}</title>
    <style>
      include index.css
    </style>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <ul id="container">
        <li>
          <p class="heading">App.js<p>
          textarea(class="appJs") #{appData.js} 
        </li>
        <li>
          <p class="heading">App.css<p>
          textarea(class="appCss") #{appData.css} 
        </li>
      </ul>
      div(class="app") #{appData.app}
    </div>
  </body>
</html>
